## Whitelist based .gitignore
*

## Allow these files
!.zshrc
!.p10k.zsh
!.gitignore
!.env
!.alias
!.path
!README.md

## Keep mozilla configuration
!.mozilla/
!.mozilla/*

## Keep themes and icons
!.themes/
!.themes/*
!.icons/
!.icons/*

## Allow local(s) 
!.local/
!.local/share/
!.local/share/applications/
!.local/share/applications/*


## Allow these configuration folders 
!.config/ 

# default applications
!.config/mimeapps.list

# nvim
!.config/nvim/
!.config/nvim/*

# i3
!.config/i3/
!.config/i3/*

# awesome 
!.config/awesome/
!.config/awesome/*

# mpd
!.config/mpd/
!.config/mpd/*

# wezterm
!.config/wezterm/
!.config/wezterm/*

# polybar
!.config/polybar/
!.config/polybar/*

# sioyek
!.config/sioyek/
!.config/sioyek/*

# ncmpcpp
!.config/ncmpcpp/
!.config/ncmpcpp/*

# picom
!.config/picom/
!.config/picom/*

# custom scripts
!.config/scripts/
!.config/scripts/*

# gzdoom
!.config/gzdoom/
!.config/gzdoom/*

# thunar shortcuts
!.config/Thunar/
!.config/Thunar/uca.xml

# mpv
!.config/mpv/
!.config/mpv/*
