## Ignore everything
*

## Do not ignore this file
!.gitignore

## Keep these profiles
!firefox/
!firefox/static.SSB/
!firefox/static.SSB/chrome/
!firefox/static.SSB/chrome/**
# This freakin file changes on startup :/
# !firefox/static.SSB/prefs.js 
